/* ********* */
/* @VARIABLES */
/* ********* */

$colores: (
    fondo: #200063,
    bajo: #150043,
    letra: #FFFFFF
);

$tamaño:(
    gapLista: 30px,
    padingLogo: 30px,
    padingParafo: 30px,
    heightParteBaja: 100%,
    widthParteBaja: 100%,
    widthbarIzquierda: 50%,
    heightIzquierda: 40px,
    widthbarDere: 50%,
    heightDercha: 40px,
    widthIcono: 20%,
    borderIzquierda: 80px,
    borderDerecha: 80px,
);
